html {
  background-color: black;
  display: flex;
  justify-content: center;
}

body {
  height: 100vh;
  margin: 0px;
}

.registrations {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  width: 100%;
  background: white;
  margin: 0 6%;
}

.registrations .logo-bg{
  background-image: url("hongkong-shower-c.jpg");
  background-size: cover;
  flex: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: start;
}

.registrations .logo{
  justify-self: center;
  align-self: center;
  width: 100%;
  background-color: rgba(14, 14, 14, 0.438);
  margin-top: 35px;
  padding-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.registrations #logo-img {
  height: 80px;
  width: 80px;
}

.registrations #org-name {
  color: white;
  font-size: 35px;
  text-align: center;
}

.registrations .photo-credit{
  display: none;
  color: white;
}

.registrations .account-form {
  display: flex;
  flex-direction: column;
}

.registrations .info-form{
  flex: 90%;

  display: flex;
  flex-direction: column;
}

.registrations .intro{
  justify-self: center;
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 15px;
}

.rain {
  display: block;
  box-sizing: border-box;
}

.rain__drop {
  animation-delay: calc(var(--d) * 6s);
  animation-duration: calc(var(--a) * 12s);
  animation-iteration-count: infinite;
  animation-name: drop;
  animation-timing-function: linear;
  height: 30px;
  position: relative;
  fill: #a1c6cc;
  transform-origin: center bottom;
  left: calc(var(--x) * 1%);
  top: 0px;
}

.rain__drop path {
  fill: #a1c6cc;
  opacity: var(--o);
  transform: scaleY(calc(var(--s) * 1.5));
}

@keyframes drop {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(10vh);
  }
}

.registrations .intro, .registrations .submit {
  background-color: rgb(243, 243, 243);
}

.registrations .intro p{
  color: black;
  font-size: calc(6px + 0.65vw);
  padding: 0px 15px 0px 15px;
  margin-top: auto;
}

.registrations form {
  display: flex;
  flex-direction: column;
  column-gap: 10%;
  height: 65%;
}

.registrations .account-form, .registrations .submit{
  padding: 0px 0px 25px 40px;
  width: 100%;
}

.registrations .account-form {
  background-color: white;
}

.registrations .account-form-inputs {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 10%;
  padding: 0px 200px 0px 0px;
}

.registrations .account-form p{
  font-size: 20px;
  font-weight: bold;
}

.registrations .single-input {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 150px;
  max-width: 200px;
}

.sessions input, .registrations input{
  border:1px solid rgb(228, 228, 228)
}

.sessions input:focus, .registrations input:focus {
  outline: transparent !important;
  border:1px solid rgb(140, 184, 210);
  box-shadow: 0 3px 3px rgb(157, 197, 221);
}

.registrations input:invalid{
  border:1px solid rgb(255, 0, 0);
}

.registrations input:invalid:focus{
  box-shadow: 0 3px 3px rgb(255, 166, 166);
}

.registrations #password-mismatch-msg {
  font-size: 10px;
  color: red;
}

.registrations label {
  font-size: 12px;
}

.registrations .submit {
  box-shadow: inset 0px 5px 5px rgb(184, 184, 184);
  padding-top: 30px;
  flex-grow: 5;
}

.registrations .submit button {
  border: none;
  color: white;
  background-color:rgb(140, 184, 210);
  font-weight: bold;
  font-size: 20px;
  border-radius: 8px;
  padding: 10px 30px;
  box-shadow: 3px 3px 3px rgb(168, 190, 202);
}

.registrations .submit button:hover {
  background-color:rgb(122, 161, 184);
  box-shadow: 3px 3px 3px rgb(140, 184, 210);
}

.registrations .submit button:active {
  background-color:rgb(104, 137, 156);
  transform: scale(0.98);
  box-shadow: 2px 2px 1px rgb(122, 161, 184);
}

@media only screen and (min-width: 830px) {
  .registrations {
    flex-direction: row;
    align-items: stretch;
    width: 70%;
    margin: 0 10%;
  }

  .registrations .logo-bg{
    flex: 35%;
    min-height: 100%;
    padding-bottom: 0px;
  }

  .registrations .logo{
    margin-top: calc(35vh - 110px);
    margin-bottom: auto;
  }

  .registrations #logo-img {
    height: 110px;
    width: 110px;
  }

  .registrations .photo-credit{
    display: block;
  }

  .registrations .info-form{
    flex: 65%;
    min-height: 100%;
  }

  .registrations .intro{
    height: 35%;
    width: 100%;
  }

  .registrations .intro p{
    padding: 0px calc(100px + 0.5vw) 0px 40px;
  }

  @keyframes drop {
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(20vh);
    }
  }
}