.thoughts {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  background-color: white;
}

.thoughts .title-word {
  position: relative;
  margin: 15vh auto;
  color: transparent;
  font-family: impact, sans-serif;
  font-size: 100px;
  font-weight: bolder;
  letter-spacing: 0.05em;
  background-image: url("water-shower.jpg");;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
}

.thoughts .texture,
.thoughts .texture::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
  
.thoughts .texture {
  background-image: linear-gradient(to bottom, blue, white 50%, red 65%, white);
  background-attachment: fixed;
  mix-blend-mode: color-dodge;
}

.thoughts .texture::after {
  content: '';
  background-image: url("water-shower.jpg");
  background-size: cover;
  filter: saturate(0) brightness(0.8) contrast(4);
  mix-blend-mode: multiply;
}

.thoughts .thoughts-container {
  margin: 0px 100px;
  column-count: 3; /* Adjust the number of columns as needed */
  column-gap: 20px; /* Adjust the gap between columns as needed */
  /*
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  grid-auto-rows: auto;
  gap: 50px; Adjust the gap between grid items */

  /*
  display: flex;
  gap: 100px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;*/
}

.thoughts .single-thought {
  break-inside: avoid;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;

  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.thoughts .single-thought:hover {
  transform: scale(1.05); /* Scale up the container slightly */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Increase the box shadow */
}

.thoughts .single-thought .title {
  font-size: 25px;
  align-self: center;
  margin-top: 0px;
}