.thoughts {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  background-color: white;
}

.thoughts .title-word{
  background-image: url("water-shower.jpg");
  background-size: cover;
  font-size: calc(20px + 5vw);
}

.thoughts-new .title-word {
  background-image: url("rainbow-con.jpg");
  font-size: calc(20px + 3vw);
}

.thoughts .title-word, .thoughts-new .title-word {
  position: relative;
  margin: 15vh auto;
  color: transparent;
  font-family: impact, sans-serif;
  font-weight: bolder;
  letter-spacing: 0.05em;
  background-clip: text;
  -webkit-background-clip: text;
}

.thoughts .texture,
.thoughts .texture::after,
.thoughts-new .texture,
.thoughts-new .texture::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
  
.thoughts .texture, .thoughts-new .texture {
  background-image: linear-gradient(to bottom, blue, white 50%, red 65%, white);
  background-attachment: fixed;
  mix-blend-mode: color-dodge;
}

.thoughts .texture::after{
  background-image: url("water-shower.jpg");
  background-size: cover;
}

.thoughts-new .texture::after {
  background-image: url("rainbow-con.jpg");
}

.thoughts .texture::after, .thoughts-new .texture::after {
  content: '';
  filter: saturate(0) brightness(0.8) contrast(4);
  mix-blend-mode: multiply;
}

.thoughts .thoughts-filters {
  align-self: center;
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
  padding: 4px 15px;
  border-width: 3px;
  border-style: outset;
  border-color: black;
}

.thoughts .thoughts-filters .selected {
  border-width: 3px;
  border-style: outset;
  border-color: gold;
}

.thoughts .thoughts-container {
  margin: 0px 100px;
  column-count: 3;
  column-gap: 20px; 
}

.thoughts .single-thought {
  break-inside: avoid;
  padding: 20px;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;

  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.thoughts .single-thought:hover {
  transform: scale(1.05);
}

.thoughts .unhighlighted-thought {
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.thoughts .unhighlighted-thought:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.thoughts .highlighted-thought {
  background-color: #fdffe9;
  border: 2px solid #ffa600;
  box-shadow: 0 0 10px rgba(255, 196, 0, 0.75);
  border-radius: 5px;
}

.thoughts .highlighted-thought:hover {
  box-shadow: 0 0 20px rgba(255, 196, 0, 0.75);
}

.thoughts .single-thought .title {
  font-size: 25px;
  align-self: center;
  margin-top: 0px;
}

.thoughts .single-thought .actions {
  display: flex;
  align-self: end;
}

.thoughts .single-thought .img-off, .thoughts .img-filter, .thoughts .single-thought .img-on:hover {
  filter: invert(100%);
}

.thoughts .single-thought .img-off:hover, .thoughts .img-filter:hover, .thoughts .single-thought .img-on {
  filter: invert(65%) sepia(40%) saturate(1222%) hue-rotate(358deg) brightness(100%) contrast(107%);
}

.thoughts-new {
  height: 90vh;
  width: 90vw;
  padding: 5vh 5vw;
  background-image: url("blank-condensation.jpg");
  background-size: cover;

  display: flex;
  flex-direction: column;
}

.thoughts-new .title-container {
  margin: 0px auto;
}

.thoughts-new .content-container {
  height: 60vh;
  width: 50vw;
  padding: 20px; 
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255, 50%);
}

.thoughts-new .error_explanation {
  background-color: rgb(255, 255, 255, 100%);
  border-style: solid;
  border-color: red;
  border-width: 2px;
  padding: 10px;
}

.thoughts-new .error_explanation:empty {
  border-width: 0px;
  padding: 0px;
}

.thoughts-new .content-container, .thoughts-new .error_explanation {
  border-radius: 30px;
  align-self: center;

  display: flex;
  flex-direction: column;
  gap: 0px;
}

.thoughts-new .form-container {
  flex-grow: 1;
}

.thoughts-new .field_with_errors *:first-child {
  border: red;
  border-style: ridge;
  border-width: 2px;
}

.thoughts-new form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.thoughts-new label, .thoughts-new .time-error {
  font-family: impact, sans-serif;
  color:rgb(99, 99, 99);
  margin-top: 15px;
  font-size: 25px;
}

.thoughts-new .time-error
{
  padding-top: 15px;
  align-self: center;
}

.thoughts-new label, .thoughts-new #title-warning, .thoughts-new #content-char-count{
  margin-left: 5px;
}

.thoughts-new #title-warning, .thoughts-new #content-char-count{
  font-size: 14px;
}

.thoughts-new #title-warning {
  color: red;
}

.thoughts-new .title-input {
  width: 250px;
}

.thoughts-new .content-input {
  min-width: 250px;
  width: 90%;
  max-width: calc(100% - 10px);
  min-height: 11px;
  height: 200px;
  max-height: 235px;

  padding: 5px;
}

.thoughts-new #submit-button {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 8px;
  width: 50%;
}

.thoughts-new .btn-enabled {
  box-shadow: 3px 3px 3px rgb(168, 190, 202);
  background-color:rgb(140, 184, 210);
}

.thoughts-new .btn-enabled:hover {
  background-color:rgb(122, 161, 184);
  box-shadow: 3px 3px 3px rgb(140, 184, 210);
}

.thoughts-new .btn-enabled:active {
  background-color:rgb(104, 137, 156);
  transform: scale(0.98);
  box-shadow: 2px 2px 1px rgb(122, 161, 184);
}

.thoughts-new .btn-disabled {
  background-color:rgb(104, 137, 156);
  transform: scale(0.98);
  box-shadow: none;
}