<%= javascript_import_module_tag "custom/thoughts_new" %>

<div class="thoughts-new">

  <%= render partial: 'actionbar', :locals => { :main_view => "edit_thought" } %>

  <%= render partial: 'form', :locals => { :main_view => "edit_thought" } %>

  <% if @thought.errors.any? %>
    <div class="error_explanation">
      <h2>Cannot share</h2>
      <ul>
      <% @thought.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>